Application{
	background-color:#00162d;
    font-size:12px;
}

Panel{
    background-color: #d5d4d4;
    border-color:#d5d4d4;
    background-alpha:1;
    border-alpha:1;
    header-colors:#bdbdbd, #bdbdbd;
    header-height:40;
    highlight-alphas:.75,.25;
    corner-radius:15;
    drop-shadow-enabled:true;
    rounded-bottom-corners:true;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}

LinkBar{
    color:#AAB3B3;
    disabled-color:#2B333C;
}

BaseViewer{
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}

.welcomePanel{
    padding-top:10px;
}

.stdBtn{
    corner-radius:0;
}

.debugOutput{
   color:#ff0000;
}