<div id="timestamp">Last Accessed: ${time}</div>
<div id="restlist">

	<div class="accordion_head"><a href="#">Author</a></div>
	<div class="rest_resource">
		<fieldset class="rest_item">
			<legend>Create a new Author</legend>
			<div class="rest_method">http method: POST</div>
			<div class="rest_url">url: #springUrl('/rs/author')</div>
			<div class="rest_xml_desc">Example input:</div>
			<div class="rest_xml">
	&lt;Author&gt;<br />
	&nbsp;&nbsp;&lt;firstName&gt;Rod&lt;/firstName&gt;<br />
	&nbsp;&nbsp;&lt;lastName&gt;Johnson&lt;/lastName&gt;<br />
	&lt;/Author&gt;
			</div>
			<div class="clear_floats" ></div>
		</fieldset>
		
		<fieldset class="rest_item">
			<legend>Read a new Author</legend>
			<div class="rest_method">http method: GET</div>
			<div class="rest_url">url: #springUrl('/rs/author/1')</div>
			<div class="rest_xml_desc">Example response:</div>
			<div class="rest_xml">
	&lt;Author&gt;<br />
	&nbsp;&nbsp;&lt;id&gt;1&lt;/id&gt;<br />
	&nbsp;&nbsp;&lt;addDate&gt;2009-06-08 21:54:24.803 EDT&lt;/addDate&gt;<br />
	&nbsp;&nbsp;&lt;deleted&gt;false&lt;/deleted&gt;<br />
	&nbsp;&nbsp;&lt;firstName&gt;Rod&lt;/firstName&gt;<br />
	&nbsp;&nbsp;&lt;lastName&gt;Johnson&lt;/lastName&gt;<br />
	&lt;/Author&gt;
			</div>
			<div class="clear_floats" ></div>
		</fieldset>
		
		<fieldset class="rest_item">
			<legend>Update a new Author</legend>
			<div class="rest_method">http method: PUT</div>
			<div class="rest_url">url: #springUrl('/rs/author/1')</div>
			<div class="rest_xml_desc">Example input:</div>
			<div class="rest_xml">
	&lt;Author&gt;<br />
	&nbsp;&nbsp;&lt;id&gt;1&lt;/id&gt;<br />
	&nbsp;&nbsp;&lt;addDate&gt;2009-06-08 21:54:24.803 EDT&lt;/addDate&gt;<br />
	&nbsp;&nbsp;&lt;deleted&gt;false&lt;/deleted&gt;<br />
	&nbsp;&nbsp;&lt;firstName&gt;Rod&lt;/firstName&gt;<br />
	&nbsp;&nbsp;&lt;lastName&gt;Johnson&lt;/lastName&gt;<br />
	&lt;/Author&gt;
			</div>
			<div class="clear_floats"></div>
		</fieldset>
		
		<fieldset class="rest_item">
			<legend>DELETE a new Author</legend>
			<div class="rest_method">http method: DELETE</div>
			<div class="rest_url">url: #springUrl('/rs/author/1')</div>
		</fieldset>
	</div>
	
	
	<div class="accordion_head"><a href="#">Book</a></div>
	<div class="rest_resource">
		<fieldset class="rest_item">
			<legend>Create a new Author</legend>
			<div class="rest_method">http method: POST</div>
			<div class="rest_url">url: #springUrl('/rs/author')</div>
			<div class="rest_xml_desc">Example input:</div>
			<div class="rest_xml">
	&lt;Author&gt;<br />
	&nbsp;&nbsp;&lt;firstName&gt;Rod&lt;/firstName&gt;<br />
	&nbsp;&nbsp;&lt;lastName&gt;Johnson&lt;/lastName&gt;<br />
	&lt;/Author&gt;
			</div>
			<div class="clear_floats" ></div>
		</fieldset>
		
		<fieldset class="rest_item">
			<legend>Read a new Author</legend>
			<div class="rest_method">http method: GET</div>
			<div class="rest_url">url: #springUrl('/rs/author/1')</div>
			<div class="rest_xml_desc">Example response:</div>
			<div class="rest_xml">
	&lt;Author&gt;<br />
	&nbsp;&nbsp;&lt;id&gt;1&lt;/id&gt;<br />
	&nbsp;&nbsp;&lt;addDate&gt;2009-06-08 21:54:24.803 EDT&lt;/addDate&gt;<br />
	&nbsp;&nbsp;&lt;deleted&gt;false&lt;/deleted&gt;<br />
	&nbsp;&nbsp;&lt;firstName&gt;Rod&lt;/firstName&gt;<br />
	&nbsp;&nbsp;&lt;lastName&gt;Johnson&lt;/lastName&gt;<br />
	&lt;/Author&gt;
			</div>
			<div class="clear_floats" ></div>
		</fieldset>
		
		<fieldset class="rest_item">
			<legend>Update a new Author</legend>
			<div class="rest_method">http method: PUT</div>
			<div class="rest_url">url: #springUrl('/rs/author/1')</div>
			<div class="rest_xml_desc">Example input:</div>
			<div class="rest_xml">
	&lt;Author&gt;<br />
	&nbsp;&nbsp;&lt;id&gt;1&lt;/id&gt;<br />
	&nbsp;&nbsp;&lt;addDate&gt;2009-06-08 21:54:24.803 EDT&lt;/addDate&gt;<br />
	&nbsp;&nbsp;&lt;deleted&gt;false&lt;/deleted&gt;<br />
	&nbsp;&nbsp;&lt;firstName&gt;Rod&lt;/firstName&gt;<br />
	&nbsp;&nbsp;&lt;lastName&gt;Johnson&lt;/lastName&gt;<br />
	&lt;/Author&gt;
			</div>
			<div class="clear_floats"></div>
		</fieldset>
		
		<fieldset class="rest_item">
			<legend>DELETE a new Author</legend>
			<div class="rest_method">http method: DELETE</div>
			<div class="rest_url">url: #springUrl('/rs/author/1')</div>
		</fieldset>
	</div>
</div>